rlif/trained_models
# rlif/data
# !rlif/data/*
rlif/data/rfam_train
rlif/data/metadata

rlif/analysis
rlif/notes.md
rlif/results/
venv/
trained_models/
rlif/mcts.py
geckodriver*/
# rlif/interface
comparison/
rlif.egg-info
.vscode
comparison/
**/__pycache__/**

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

RF00001.fa
mini.fa
rlif.zip
README.pdf

rlif/logs